body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  overflow: hidden;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 75%;
}

h1 {
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #ee5e2a;
}

#console {
  position: absolute;
  width: 240px;
  margin: 10px;
  margin-top: 0;
  padding: 0 20px 1px;
  position: fixed;
  z-index : 1;
  left: 0;
  bottom: 0;
  background-color: white;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-weight: normal;
  color: #363635;
  text-decoration: none;
  overflow: hidden; /*planning ahead to clear floats*/
}

.console a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ee5e2a;
    transition: 0.3s
}

/* containers for the chart controls */
#chart-controls, #chart-open-link {
	position: absolute;
	left: 300px;
	right: 0;
	bottom: 0;
	background-color: white;
	font-family: "Montserrat", helvetica, arial, sans-serif;
	font-weight: normal;
	color: #363635;
	text-decoration: none;
	padding: 5px 15px; /* padding must be in pixels for the JS to position everything right */
	margin: 0;
}

/* controls that show when the chart is open */
#chart-controls {
	height: 20px;
	width: 75%; /* will get overriden by the JS, but we need something to start with */
}

#chart-controls span {
  display: inline;
	cursor: pointer;
  margin-right: 2.5em;
}

#chart-controls span select {
	width: 120px;
}

#chart-controls span#chart-close-link {
	float: right;
	text-align: right;
	margin-right: 0;
}

#chart-controls .closebtn {
	display: inline;
	clear: none;
	float: right;
	font-size: 250%;
	font-weight: 900;
	margin-left: 1ex;
	margin-top: -0.2ex;
	margin-right: 0;
}

#chart-controls span#chart-reset-link {
	display: none;
}

/* container for the show chart control */
#chart-open-link {
	cursor: pointer;
	width: 100%;
	text-align: center;
	margin-right: 0;
}

/* SVG element that holds the d3 chart */
#chart {
	position: absolute;
	width: 75%; /* will get overriden by the JS, but we need something to start with */
	height: 25%;
	right: 0;
	bottom: 20px;
	background: rgb(255,255,255);
}

/* d3 chart default text; everything but the axis tick labels also have a more specific selector below which can override these values */
#chart text {
	font-family: "Montserrat", helvetica, arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #363635;
}

/* chart title styling; leave positioning to the JS */
#chart #chart-title {
	font-size: 18px;
	font-weight: 600;
	color: #363635;
}

/* subtitle only shows up conditionally when some explanation is needed */
#chart #chart-subtitle {
	font-size: 12px;
	font-weight: 500;
	font-style: italic;
}

/* axis labels; leave colours and positioning for these to be defined by the JS */
#chart #left-axis-label, #chart #right-axis-label {
	font-size: 16px;
}

#chart #left-axis-label {
	transform: rotate(-90deg);
}

#chart #right-axis-label {
	transform: rotate(-90deg);
}

.session {
  margin-bottom: 20px;
  margin-top:20px;
}

.row {
  height: 12px;
  width: 100%;
}

input#slider {
	height: 16px;
}

div#slidercontrols {
	text-align: center;
}

div#slidercontrols span {
	cursor: pointer;
}

span#slider_back {
	float: left;
}

span#slider_play, span#slider_stop {
	margin: 0 auto;
	width: 100%;
}

span#slider_stop {
	display: none;
}

span#slider_forward {
	float: right;
}

.colors {
  background: linear-gradient(to right, #2dc4b2, #3bb3c3, #669ec4, #8b88b6, #a2719b, #aa5e79);
  margin-bottom: 5px;
}

.label {
  width: 15%;
  display: inline-block;
  text-align: center;
}

/*This formatting is for the  name of the fields in the pop-up*/
span.varname{
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	color: #363535;
}

/*This is formatting for the text that follows the label*/
span.attribute {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	color: #5b5b5b;
	margin-top: 0;
    margin-bottom: 0;
}

/*This is formatting for the text that appears in the 'on hover' popup for charter schools*/
.mapboxgl-popup {
	max-width: 240px;
}

.mapboxgl-popup-content {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	color: #5b5b5b;
	margin-top: 0;
    margin-bottom: 0;
}

/*This changes the size of the image in the popup*/
img {
	max-height:  100%;
	max-width:  100%;
}

img.charter {
	display: block;
	text-align: center;
}

.mapboxgl-popup-content {
	max-width: 300px;
}

.zoom {
	background-color: #ffffff;
	opacity:.8;
	border: 1px solid #989797;
	width: 225px;
	text-align: left;
	padding: 10px;
    position: fixed;
	z-index : 1;
    left: 0;
	bottom: 0;
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	font-weight: normal;
	color: #363635;
	text-decoration: none;
	margin-right: 10px;
	margin-bottom: 20px;
	overflow: hidden; /*planning ahead to clear floats*/
}

.legend {
	background-color: #ffffff;
	opacity:.8;
	border: 1px solid #989797;
	width: 225px;
	text-align: left;
	padding: 10px;
    position: fixed;
	z-index : 1;
    right: 0;
	bottom: 0;
	font-family: "Montserrat", helvetica, arial, sans-serif;
	font-weight: normal;
	color: #363635;
	text-decoration: none;
	margin-right: 10px;
	margin-bottom: 20px;
	overflow: hidden; /*planning ahead to clear floats*/
}

ul{
	list-style-type:none;
	font-size:
}

.legend-title {
	position:relative;
	bottom:0;
	right:0;
    text-align: left;
    margin-bottom: 5px;
	padding: 0px 0px 2px 0px;
	font-family: "Montserrat", helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 90%;
    }
.legend-subtitle {
	position:relative;
	bottom:0;
	right:0;
    text-align: left;
    margin-bottom: 5px;
	padding: 0px 0px 12px 0px;
	font-family: "Montserrat", helvetica, arial, sans-serif;
    font-style: italic;
    font-size: 75%;
    }

ul{
	list-style-type:none;
	font-size:
}

.legend-title {
	position:relative;
	bottom:0;
	right:0;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
  .legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    }
  .legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    }
  .legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 12px;
    width: 24px;
    margin-right: 5px;
    margin-left: 0;
    border: 0px solid #999;
    }
  .legend .legend-source {
    width: 175 px;
	font-size: 70%;
	margin-right: 20px;
    color: #999;
    clear: both;
    }

  .legend .map-credit {
    font-size: 70%;
    color: #999;
    clear: both;
    }

  .legend a {
    color: #777;
    }

	a:link {
    text-decoration: none;
}

	.inactive {
		opacity: 0.25;
	}

	  .legend .map-credit {
    font-size: 70%;
    color: #999;
    clear: both;
    }

  .legend a {
    color: #777;
    }

	a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/* Use this to style the 'Zoom to Districts' pop-out */
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffff;
    overflow-x: hidden;
    transition: 0.5s;
    /*padding-top: 60px;*/
}

/*.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    display: block;
    transition: 0.3s
}*/

p.navtitle {
    padding: 20px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
	font-weight: bold;
    color: #b1d4cb;
    display: block;
    transition: 0.3s
}

p.moreinfo  {
  padding: 8px 16px 0px 32px;
	margin-bottom: 2ex;
  background: #ffff;
  color:#4a4a4a;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size:12px;
  text-align:left;
 /* width:auto !important;*/
  }

p.instructionstitle  {
  padding: 0px 0px 0px 32px;
  margin-bottom: 0em;
  background: #ffff;
  color:#ee5e2a;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:bold;
  text-align:left;
 /* width:auto !important;*/
  }

p.instructionstext  {
  padding: 2px 16px 8px 32px;
  margin-top: 0em;
  margin-bottom: 0em;
  background: #ffff;
  color:#4a4a4a;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size:12px;
  text-align:left;
 /* width:auto !important;*/
  }

  p.mapcredits  {
  padding: 8px 8px 8px 8px;
  background: #ffff;
  color:#4a4a4a;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size:12px;
  text-align:left;
 /* width:auto !important;*/
  }

.sidenav a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ee5e2a;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 28px;
    margin-left: 50px;
}

.collapsible {
  background-color: #ee5e2a;
  color: white;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: left;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 12px;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.instructions {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

#main {
    transition: margin-left .5s;
    padding: 0px;
}

#about {
	/*transition: margin-left .5s;
    padding: 16px;*/
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #ffff;
	filter: alpha(opacity = 0);
    position:fixed;
	padding:5px 5px 5px 5px;
	left:20px;
	top:20px;
    display:block;
    z-index:2;
    background:#ee5e2a;
	overflow: auto;
}

.mapboxgl-ctrl-bottom-right {
    bottom: 0;
    right: 0;
	margin-right: 10px;
	margin-bottom: 0px;
}

.mapboxgl-ctrl-logo {
	bottom: 0;
	left: 0;
}

.mapbox-improve-map {
    display: none;
}

input.autocompleteTextbox, select.dropdown {
	display: block;
	margin-top: 1ex;
	margin-bottom: 1ex;
}

div.sidenav.tallpage p.moreinfo {
	margin-top: 1em;
	font-size: 14px;
}

div.sidenav.tallpage p.instructionstitle {
	margin-top: 1em;
	font-size: 16px;
}

div.sidenav.tallpage p.instructionstext {
	font-size: 14px;
}

div.sidenav.shortpage p.moreinfo {
	margin-top: 0.5ex;
	margin-bottom: 1ex;
	padding-right: 8px;
	font-size: 10px;
	line-height: 11px;
	overflow-y: auto;
}

div.sidenav.shortpage p.instructionstitle {
	margin-top: 0.5ex;
	padding-right: 8px;
	font-size: 12px;
	line-height: 12px;
	overflow-y: auto;
}

div.sidenav.shortpage p.instructionstext {
	margin-bottom: 1ex;
	padding-right: 8px;
	font-size: 10px;
	line-height: 11px;
	overflow-y: auto;
}

.autocomplete-items {
  border: 1px solid #363635;
  border-bottom: none;
  border-top: none;
  z-index: 99;
}
.autocomplete-items div {
  padding: 2px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #363635;
}
.autocomplete-items div:hover {
  background-color: #2DC4B2;
  color: #ffffff;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #ee5e2a !important;
  color: #ffffff;
}

select {
	max-width: 200px;
}
